<header>
    <img src="assets/logo.svg" alt="Logo Pokedex">
</header>

<section id="links-fixos">
    <a href="https://github.com/2dsant" target="_blank">
        <img src="../../../assets/github-brands.svg" width="50px" alt="GitHub">
    </a>
    <a href="https://www.instagram.com/_heydav/" target="_blank">
        <img src="../../../assets/instagram-brands.svg" width="50px" alt="GitHub">
    </a>
    <a href="https://www.linkedin.com/in/2dsant/" target="_blank">
        <img src="../../../assets/linkedin-in-brands.svg" style="color: white;" width="50px" alt="GitHub">
    </a>
</section>