:host {
    footer {
        padding: 15px;
        width: 100%;
        background-color: #000000;
        color: white;
        text-align: center;
        justify-content: center;
        margin-top: auto;
        
        a {
            text-decoration: none;
            color: red;
        }
    }
}
